### 读取所有数据

In [1]:
import pandas as pd
import glob
import numpy as np
# 获取Car_Hacking.csv文件
#csv_files = glob.glob('./*Car_Hacking.csv')
df = pd.read_csv('Car_Hacking.csv')
# 使用列表推导式读取所有文件并存储在列表中，尝试使用不同的编码
#dataframes = []
#for file in csv_files:
 #   try:
 #       df = pd.read_csv(file)
  #  except UnicodeDecodeError:
  #      df = pd.read_csv(file, encoding='latin1')  # 尝试使用Latin-1编码

In [2]:
# 合并所有DataFrame


# 显示合并后的DataFrame的信息，如需
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636855 entries, 0 to 1636854
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Timestamp   1636855 non-null  object
 1   CAN ID      1636855 non-null  int64
 2   Byte        1636855 non-null  int64
 3   DATA[0]     1636855 non-null  int64
 4   DATA[1]     1636855 non-null  int64
 5   DATA[2]     1636855 non-null  int64
 6   DATA[3]     1636855 non-null  int64
 7   DATA[4]     1636855 non-null  int64
 8   DATA[5]     1636855 non-null  int64
 9   DATA[6]     1636855 non-null  int64
 10  DATA[7]     1636855 non-null  int64
 11  AttackType  1636855 non-null  object
 12  Message     1636855 non-null  object
dtypes: int64(10), object(3)
memory usage: 162.3+ MB
None

In [3]:
df.columns

Index(['Timestamp', 'CAN ID', 'Byte', 'DATA[0]', 'DATA[1]', 'DATA[2]',
       'DATA[3]', 'DATA[4]', 'DATA[5]', 'DATA[6]', 'DATA[7]', 'AttackType',
       'Message'],
      dtype='object')

In [4]:
df.describe()

,CAN ID,Byte,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7]
count,1.636855e+06,1636855.0,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06
mean,6.979616e+02,8.0,5.830615e+01,4.578506e+01,4.047838e+01,7.878781e+01,5.158339e+01,6.196214e+01,2.633291e+01,5.414980e+01
std,3.928188e+02,0.0,8.987300e+01,5.435936e+01,5.854449e+01,1.024695e+02,7.329172e+01,7.736730e+01,5.742911e+01,8.016823e+01
min,0.000000e+00,8.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.390000e+02,8.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.040000e+02,8.0,8.000000e+00,3.200000e+01,0.000000e+00,2.000000e+01,1.600000e+01,3.200000e+01,0.000000e+00,0.000000e+00
75%,1.072000e+03,8.0,6.900000e+01,6.900000e+01,9.600000e+01,1.370000e+02,1.070000e+02,1.270000e+02,1.000000e+01,1.090000e+02
max,2.047000e+03,8.0,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

In [5]:
combined_df = df

数据归一化

In [6]:
from sklearn.preprocessing import MinMaxScaler

# 创建归一化器实例
scaler = MinMaxScaler()

# 归一化'DATA_0'到'DATA_7'这些列
data_columns = ['CAN ID','DATA[0]', 'DATA[1]', 'DATA[2]', 'DATA[3]', 'DATA[4]', 'DATA[5]', 'DATA[6]', 'DATA[7]']
combined_df[data_columns] = scaler.fit_transform(combined_df[data_columns])

In [7]:
combined_df.describe()

,CAN ID,Byte,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7]
count,1.636855e+06,1636855.0,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06
mean,3.409680e-01,8.0,2.286516e-01,1.795493e-01,1.587388e-01,3.089718e-01,2.022878e-01,2.429888e-01,1.032663e-01,2.123521e-01
std,1.918998e-01,0.0,3.524431e-01,2.131739e-01,2.295862e-01,4.018412e-01,2.874185e-01,3.034012e-01,2.252122e-01,3.143852e-01
min,0.000000e+00,8.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.656082e-01,8.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.439179e-01,8.0,3.137255e-02,1.254902e-01,0.000000e+00,7.843137e-02,6.274510e-02,1.254902e-01,0.000000e+00,0.000000e+00
75%,5.236932e-01,8.0,2.705882e-01,2.705882e-01,3.764706e-01,5.372549e-01,4.196078e-01,4.980392e-01,3.921569e-02,4.274510e-01
max,1.000000e+00,8.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [9]:
# 按 Timestamp 排序
combined_df.sort_values(by='Timestamp', inplace=True)

# 删除 Timestamp，Byte，Message 列
combined_df.drop(['Timestamp', 'Byte', 'Message'], axis=1, inplace=True)

In [10]:
combined_df.head()

,CAN ID,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7],AttackType
1576704,0.343918,0.082353,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,Normal Message
1211204,0.531510,1.000000,0.00000,0.000000,0.000000,1.000000,0.674510,0.031373,0.00000,Normal Message
1533683,0.617489,0.000000,0.00000,0.000000,0.501961,0.000000,0.403922,0.819608,0.07451,Normal Message
1302982,0.659013,0.847059,0.00000,0.000000,0.513725,0.000000,0.000000,0.000000,0.00000,Normal Message
1283262,0.531021,0.000000,0.25098,0.376471,1.000000,0.439216,0.666667,0.031373,0.00000,Normal Message

对数据进行放缩，将其转为[0,255]的形式

In [11]:
from sklearn.preprocessing import QuantileTransformer
# Transform all features into the scale of [0,1]
numeric_features = combined_df.dtypes[combined_df.dtypes != 'object'].index
scaler = QuantileTransformer() 
combined_df[numeric_features] = scaler.fit_transform(combined_df[numeric_features])

In [12]:
# Multiply the feature values by 255 to transform them into the scale of [0,255]
combined_df[numeric_features] = combined_df[numeric_features].apply(
    lambda x: (x*255))

In [13]:
combined_df.describe()

,CAN ID,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7]
count,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06,1.636855e+06
mean,1.273994e+02,1.135024e+02,1.078037e+02,8.973304e+01,1.097314e+02,1.055847e+02,1.125406e+02,8.486910e+01,9.318085e+01
std,7.385556e+01,8.988668e+01,9.337027e+01,1.007231e+02,1.035453e+02,9.555175e+01,9.099632e+01,1.011038e+02,1.002509e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.649399e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.220120e+02,1.258408e+02,1.146096e+02,0.000000e+00,1.297973e+02,1.269895e+02,1.294144e+02,0.000000e+00,0.000000e+00
75%,1.904204e+02,1.918243e+02,1.929730e+02,1.994820e+02,1.899099e+02,1.924625e+02,1.904204e+02,1.913138e+02,1.909309e+02
max,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

In [14]:
# 查看 'Label' 列的所有唯一值及其出现次数
label_counts = combined_df['AttackType'].value_counts()

# 打印结果
print(label_counts)

Normal Message         1403673
RPM Spoofing Attack      65439
Gear Spooing Attack      60016
DoS Attack               58469
Fuzzy Attack             49258
Name: AttackType, dtype: int64

对数据进行分类

In [15]:
df0=combined_df[combined_df['AttackType']=='Normal Message'].drop(['AttackType'],axis=1)
df1=combined_df[combined_df['AttackType']=='RPM Spoofing Attack'].drop(['AttackType'],axis=1)
df2=combined_df[combined_df['AttackType']=='Gear Spooing Attack'].drop(['AttackType'],axis=1)
df3=combined_df[combined_df['AttackType']=='DoS Attack'].drop(['AttackType'],axis=1)
df4=combined_df[combined_df['AttackType']=='Fuzzy Attack'].drop(['AttackType'],axis=1)
# df5=combined_df[combined_df['Label']=='ATTACK SPOOFING GAS'].drop(['Label'],axis=1)

## 将数据集转为9 * 9 * 3的图像形式
1. 选取前27行数据
2. 对于不足27行的情况，提取前27行
3. 对选取的数据reshape为 9，9，3的形式

In [17]:
import numpy as np
from PIL import Image
import os

# 假设 combined_df 是你的原始 DataFrame
labels = [
    'Normal Message', 
    'RPM Spoofing Attack', 
    'Gear Spooing Attack', 
    'DoS Attack', 
    'Fuzzy Attack'
    # 'ATTACK SPOOFING GAS'
]
image_counts = []

needed_pixels = 9 * 9 * 3  # 每张图片需要的像素数
rows_needed = 27  # 每张图片需要的行数

for idx, label in enumerate(labels):
    df = combined_df[combined_df['AttackType'] == label].drop(['AttackType'], axis=1)
    image_path = f"./train/{idx}/"
    os.makedirs(image_path, exist_ok=True)
    
    image_count = 0  # 初始化当前类别的图像计数器
    num_images = len(df) // rows_needed  # 计算可能生成的图片数量
    
    # 处理所有完整的图片集
    for i in range(num_images):
        data_block = df.iloc[i*rows_needed:(i+1)*rows_needed].values.flatten()
        if len(data_block) < needed_pixels:
            data_block = np.tile(data_block, needed_pixels // len(data_block) + 1)[:needed_pixels]
        
        image_data = data_block.reshape((9, 9, 3))
        image_data = np.array(image_data, dtype=np.uint8)
        new_image = Image.fromarray(image_data)
        new_image.save(os.path.join(image_path, f'{image_count}.png'))
        
        image_count += 1
    
    # 处理最后不足384行的数据集
    remainder = len(df) % rows_needed
    if remainder != 0:
        # 如果剩余行数不为0，使用类别的前384行作为替代
        data_block = df.iloc[:rows_needed].values.flatten()
        image_data = data_block.reshape((9, 9, 3))
        image_data = np.array(image_data, dtype=np.uint8)
        new_image = Image.fromarray(image_data)
        new_image.save(os.path.join(image_path, f'{image_count}.png'))
        image_count += 1
    
    image_counts.append((label, image_count))

# 输出每个类别的图像数量
for label, count in image_counts:
    print(f"Category: {label} - Images: {count}")

Category: Normal Message - Images: 51988
Category: RPM Spoofing Attack - Images: 2424
Category: Gear Spooing Attack - Images: 2223
Category: DoS Attack - Images: 2166
Category: Fuzzy Attack - Images: 1825

## 数据划分，转换后的数据划分为测试数据和训练数据
1. 其中测试数据占总的30%

In [20]:
import os
import shutil
from random import sample

# 图片存储的基础目录
base_dir = './train'
test_dir = './test'
os.makedirs(test_dir, exist_ok=True)  # 确保测试目录存在

# 类别标签
labels = ['0', '1', '2', '3', '4', '5']

# 为每个类别处理图片
for label in labels:
    class_dir = os.path.join(base_dir, label)  # 类别的目录
    images = os.listdir(class_dir)  # 列出所有图片
    test_sample = sample(images, k=int(len(images) * 0.3))  # 随机选择30%的图片
    
    # 为测试集创建相应的目录
    test_class_dir = os.path.join(test_dir, label)
    os.makedirs(test_class_dir, exist_ok=True)
    
    # 将选中的图片移动到测试目录
    for image in test_sample:
        src_path = os.path.join(class_dir, image)
        dst_path = os.path.join(test_class_dir, image)
        shutil.move(src_path, dst_path)  # 使用move进行移动，也可以用shutil.copy(src_path, dst_path)进行复制

# 输出完成信息
print("Test datasets have been created successfully.")

Test datasets have been created successfully.